.sidebar-title {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem; /* Use rem for font size */
        font-weight: 200;
        align-items: flex-start;
        /* Use vw for margin */
        margin-bottom: 1rem; /* Use rem for margin */
        color: white;
     
    }


    .sidebar-title2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem; /* Use rem for font size */
        font-weight: 200;
        align-items: flex-start;
        /* Use vw for margin */
        margin-bottom: 1rem; /* Use rem for margin */
        color: white;
      
    }


    .sidebar-title, .sidebar-title2 {
        font-family: 'Roboto', sans-serif;
        font-size: 2rem;
        font-weight: 200;
        margin-bottom: 1rem;
        color: white;
        text-align: left; /* Ensure titles align left */
        width: 100%; /* Make sure titles take up the full width of the parent */
    }
    
    /* Divider Line */
    .divider {
        width: 100%;

        margin: 0.5rem; /* Use rem for margin */
        /* border: 1px solid #5baaff; */
      
    }
    
    body, .sidebar {
        overflow-x: hidden;
    }


    .sidebar {
        width: 300vw; 
        max-width: 600px;
        background: linear-gradient(135deg, #07223d, #07223d);
        color: white;

 
        padding: 2rem; /* Use rem for padding */
        height: 100vh;
        overflow-y: auto;
        transition: width 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-width: 160px;
        border-radius: 1rem; /* Use rem for border radius */

        box-shadow: 4px 0px 20px rgba(0, 0, 0, 0.2); /* Adjust the shadow's intensity */
        position: fixed; /* Ensure it's fixed on the page */
        top: 0;
        left: 0;
        z-index: 1000; /* Ensure it's on top of other content */
        transition: box-shadow 0.3s ease; /* Optional: Add smooth transition */
    }
    
    /* Modern Scrollbar Styling */
    .sidebar::-webkit-scrollbar {
        width: 0.8rem; /* Use rem for scrollbar width */
    }
    
    .sidebar::-webkit-scrollbar-track {
        background: linear-gradient(to top, #add8e6, #ffffff);
        border-radius: 1rem; /* Use rem for border radius */
    }
    
    .sidebar::-webkit-scrollbar-thumb {
        background: #7fccff; /* scroll color  */
        border-radius: 1rem;
        transition: background 0.3s ease;
    }
    
    .sidebar::-webkit-scrollbar-thumb:hover {
        background: #7fccff; /* scroll color  */
    }
    
    .sidebar.collapsed {
        width: 20vw; /* Use vw for width */
    }
    
    .toggle-btn {
        background: #5baaff;
        color: white;
        border: none;
        padding: 1rem; /* Use rem for padding */
        cursor: pointer;
        font-size: 1rem; /* Use rem for font size */
        width: 40%;
        margin-left: 30vw; /* Use vw for margin */
        text-align: center;
    }
    
    .toggle-btn:hover {
        background: #2980b9;
    }
    
    /* Logout Button */
    .logout-button {
        background: #78879d;
        color: white;
        border: none;
        padding: 12px;
        cursor: pointer;
        font-size: 14px;
        width: 100%;
        text-align: center;
        border-radius: 10px;
        max-width: 500px;
       
        transition: background 0.3s ease;
    }
    
    .logout-button:hover {
        background-color: #c6d2e4;
    }
    
    /* Hover effects for buttons */
    button, .toggle-btn, .logout-button {
        transition: transform 0.2s ease;
    }
    
    button:hover, .toggle-btn:hover, .logout-button:hover {
        transform: scale(1.05);
    }
    