.sidebar {
    display: flex;
    flex-grow: 0;
    max-width: 10%;
    background: linear-gradient(135deg, var(--background-color), var(--secondary-color));
    color: white;
    padding: 24px 16px 24px 16px;
    height: 100vh;
    overflow-y: auto;
    transition: width 0.3s ease;
    flex-direction: column;
    align-items: center;
    justify-items: center;
    min-width: 280px;
    box-shadow: 5px 5px 20px 4px var(--background-color);
    z-index: 1;
    transition: box-shadow 0.3s ease;
    gap: 8px;
}

.sidebar h2 {
    color: var(--text-color);
    text-align: center;
    margin-bottom: 0px;
    font-size: 20px;
}

.sidebar .divider {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 8px;
}

.sidebar button {
    width: 60%;
    font-size: 15px;
}

.sidebar .logout-btn {
    background-color: var(--background-color);
    border: 1px solid var(--border-color);

}

.logout-btn:hover {
    background: #007bff;

}

.justifiedbox {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.justifiedbox label {
    width: 50%;
}

.justifiedbox input {
    width: 90px;
    text-align: center;
}