.delete-div-btn {
    background: #27ae60;
    color: black;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.delete-div-btn {
    background: #96c9ff;
}

.delete-div-btn:hover {
    background: #d0e7ff;
}
