.delete-div-btn {
    background: #27ae60;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size: 14px;
    width: 100%;
    text-align: center;
    border-radius: 6px;
    transition: background 0.3s ease;
}

.delete-div-btn {
    background: #e74c3c;
}

.delete-div-btn:hover {
    background: #c0392b;
}
