.delete-div-btn {
    background: #dc3545;
    color: white;
    border: none;
    padding: 12px;
    cursor: pointer;
    font-size:25px;
    width: 100%;
    font-weight: 300;
    text-align: center;
    border-radius: 10px;
    max-width: 500px;
    margin-top: 100px;
    transition: background 0.3s ease;
}

.delete-div-btn {
    background: #dc3545;
    border-radius: 10px;
}

.delete-div-btn:hover {
    background: #ff5767;
    border-radius: 60px;
}
